{{#click-outside action=(action "hide")}}
<div style="position:fixed;left: {{left}};top:{{top}};z-index:1000000">
	<ul class="__ember__context__dropdown__menu {{if isOpen 'show'}}">
		{{#each menuActions as |item|}}
		{{#if item.label}}
		<li>
			<a {{action 'perform' item}} class="__ember__dropdown__item" href="#">
				{{item.label}}				
			</a>
		</li>
		{{else}}
			<li class="__ember__context__divider"></li>
		{{/if}}
		{{/each}}
	</ul>
</div>
{{/click-outside}}
