<ul class="__ember__context__menu__dropdown {{if isOpen 'show'}}">
	{{#each menuActions as |item|}}
		{{#if item.label}}
		<li>
			{{#if menuItemTemplate}}
				{{partial menuItemTemplate}}
			{{else}}
			<a {{action 'perform' item}} class="__ember__context__dropdown__item" tabindex="-1">
				{{item.label}}				
			</a>
			{{/if}}
		</li>
		{{else}}
			<li class="__ember__context__divider"></li>
		{{/if}}
	{{/each}}
</ul>